html {
  scroll-behavior: smooth;
}

:root {
  --primarycolor: blueviolet;
  --secondarycolor: rgb(63, 46, 131);
  --whitelike: #edf0f1;
  --navback: #1c243c;
}

/* html, body { height: 100%; width: 100%; margin: 0; }
div { 
  height: 100%; width: 100%; 
} */

body {
  margin: 0;
}

* {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

#page {
  height: 100%;
  width: 100%;
}

/*          NAVIGATION            */

/* header = nav
nav = #navigation */

li,
a {
  font-size: 0.8rem;
  color: var(--whitelike);
  text-decoration: none;
}

nav {
  z-index: 1;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  background-color: var(--navback);
  align-items: center;
  padding: 30px 10%;
  height: 0px;
}

#navigation {
  margin-right: 80px;
}

.logo {
  cursor: pointer;
  font-size: 1.8rem;
  color: var(--whitelike);
}

.logo:before {
  content: "";
  position: absolute;
  bottom: 0px;
  height: 4px;
  width: 4%;
  background-color: var(--primarycolor);
  border-radius: 50px;
  transform: scaleX(0);
  transition: transform 0.2s linear;
}

.logo:hover:before {
  transform: scaleX(1);
}

/* .logo:hover {
  color: blueviolet;
  transition: all 0.3s ease 0s;
} */

.nav-links {
  list-style: none;
  padding-right: 140px;
}

.nav-links li {
  display: inline-block;
  padding: 7px 7px;
}

.nav-links li a {
  transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
  color: blueviolet;
}

button {
  font-size: 1rem;
  padding: 10px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(138, 43, 226, 1) 100%,
    rgba(78, 81, 168, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
  border: none;
  color: white;
  border-radius: 80px;
}

button:hover {
  cursor: pointer;
  transition: 0.8s;
  box-shadow: 0px 0px 20px blueviolet;
}

@media only screen and (max-width: 460px) {
}

#home-section,
#about-section,
#skills-section,
#projects-section,
#contact-section {
  height: 20vh;
}

/*       HOME-SECTION (MAIN PAGE)       */

#home-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(45deg, #d2001a,#7462ff,#f48e21,#d5239a);
  background-size: 300%, 300%;
  animation: color 8s ease-in-out infinite;
  height: 60em;
}

@keyframes color {
  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%
  {
    background-position: 0 50%;
  }
}

#home {
  margin-bottom: 200px;
}

#title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

#title-extension {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
}

#my-name {
  color: white;
}

#contact-me {
  display: flex;
  justify-content: center;
  align-items: center;
}

#contact-me-button {
  font-size: 1.2rem;
  padding: 10px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(138, 43, 226, 1) 100%,
    rgba(78, 81, 168, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
  border: none;
  color: white;
  border-radius: 80px;
  animation: wiggle 3s linear infinite;
  transform-origin: 50% 5em;
}

@keyframes wiggle {
  0%,
  7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%,
  100% {
    transform: rotateZ(0);
  }
}

#contact-me-button:hover {
  cursor: pointer;
  transition: 0.8s;
  box-shadow: 0px 0px 20px blueviolet;
}

/* ABOUT SECTION */

#about-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: var(--secondarycolor);
  height: 60em;
  color: white;
}

#about-title {
  display: flex;
  justify-content: center;
  padding: 5px;
  font-size: 2rem;
  margin-left: 5%;
  margin-bottom: 10%;
  line-height: 40px;
  box-shadow: 0px 10px 15px 5px rgba(0, 0, 0, 1);
}

#about-title-extension {
  font-size: 0.9rem;
  margin-left: 5%;
  text-align: justify;
  line-height: 24px;
}

#about-img {
  height: 40%;
  width: 500px;
}

/* SKILLS SECTION */

#skills-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 60em;
  color: blueviolet;
}

#skills-title {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  margin-bottom: 50px;
}

#skills-content {
  text-align: center;
  padding: 10px;
  color: white;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    180deg,
    rgb(189, 4, 235) 0%,
    rgb(26, 30, 82) 100%,
    rgba(78, 81, 168, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
  border-radius: 20px;
  box-shadow: 0px 40px 40px -25px rgba(0, 0, 0, 1);
}

/* PROJECTS SECTION */

#projects-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: var(--secondarycolor);
  height: 60em;
  color: white;
  width: 100%;
}

#projects-title {
  margin-top: 8vh;
  font-size: 2rem;
  width: 60%;
  text-align: center;
  padding: 5px;
  box-shadow: 0px 10px 15px 5px rgba(0, 0, 0, 1);
}

#projects-content {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  width: 100%;
  height: 75%;
}

#projects-content a {
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
  border: solid 1px white;
  text-align: center;
  border-radius: 20px;
  padding: 5px;
  margin: 5px;
  width: 65%;
  height: 65%;
  font-size: 1.3rem;
  background-color: var(--navback);
  cursor: pointer;
}

#projects-content a:hover {
  transition: 0.5s;
  background: linear-gradient(45deg, #d2001a,#7462ff,#f48e21,#d5239a);
  background-size: 300%, 300%;
  animation: color 4s ease-in-out infinite;
}

.project {
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
  border: solid 1px white;
  text-align: center;
  border-radius: 20px;
  padding: 5px;
  margin: 5px;
  width: 65%;
  height: 65%;
  font-size: 1.3rem;
  background-color: var(--navback);
  cursor: pointer;
}

#next {
  font-size: 1rem;
  background-color: var(--secondarycolor);
  cursor: auto;
}

/* CONTACT SECTION */

#contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 60em;
  color: white;
  background-color: var(--navback);
}

#contact-title {
  margin-top: 10vh;
  font-size: 2rem;
}

#contact-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 70%;
}

#contact-information {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  flex-basis: 30%;
  margin: 10px;
}

.c-span {
  font-size: 1.2rem;
  font-weight: 700;
}

#contact-form {
  flex-basis: 70%;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: start;
  margin: 10px;
  color: white;
}

.field {
  width: 85%;
  margin: 2px;
  background-color: #2d3755;
  color: white;
  border: none;
  padding: 6px;
}

#buttons {
  width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.c-button {
  margin: 5px;
  border-radius: 0;
}

#clear-button {
  font-size: 0.6rem;
}

/* FOOTER */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2d3755;
  width: 100%;
  height: 10vh;
}

footer i {
  margin: 5px;
}

@media only screen and (max-width: 1900px) {
  #home-section, #about-section, #skills-section, #projects-section
  {
    height: 800px;
  }
}

@media only screen and (max-width: 1115px) {

  

  #contact-me {
    margin-top: 50px;
  }

  #about-section {
    display: flex;
    flex-direction: column;
  }

  #about-text {
    width: 80%;
  }

  #about-title {
    margin: 5%;
    margin-top: 15%;
  }
  
  #about-title-extension {
    text-align: center;
  }

  #about-img {
    width: 500px;
  }

  
}

@media only screen and (max-width: 600px) {
  #title {
    font-size: 1.2rem;
  }

  #title-extension {
    font-size: 1rem;
    margin-bottom: 10%;
  }

  #about-section {
    display: flex;
    flex-direction: column;
  }

  #about-title {
    margin: 5%;
    margin-top: 15%;
  }

  #about-title-extension {
    margin: 5%;
    margin-top: 10%;
  }

  #about-img {
    width: 60%;
    height: 60%;
  }

  #contact-section {
    height: 500px;
  }

  #contact-content {
    flex-direction: column;
  }

  #contact-title {
    margin-top: 30px;
  }
  
  textarea {
    height: 80px;
  }

  #contact-information {
    font-size: 0.7rem;
    padding: 0;
    margin: 0;
  }

  .c-span {
    font-size: 0.9rem;
  }

  #contact-information br {
      content: "";
      margin: 1em;
      font-size: 12%;
  }

  #contact-form {
    margin-bottom: 20px;
  }

  form {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #buttons {
    width: 100%;
    padding-left: 40px;
  }

  form label {
    padding-left: 40px;
    width: 100%;
  }

  .c-button {
    font-size: 0.6rem;
  }

  #clear-button {
    font-size: 0.4rem;
    margin-left: 25px;
  }

  .nav-links li a {
    font-size: 0.7rem;
  }
}

@media only screen and (max-width: 550px) {
  #title {
    font-size: 0.8rem;
  }

  #title-extension {
    font-size: 0.6rem;
  }

  nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  #navigation ul {
    display: flex;
    flex-direction: row;
  }

  .logo {
    width: 100%;
    margin-left: 0;
    padding-left: 0;
  }

  .nav-links {
    margin-left: 5px;
    padding-left: 5px;
    margin-right: 5px;
    padding-right: 20px;
  }

  .nav-links li a {
    font-size: 0.7rem;
  }

  #title {
    font-size: 1.2rem;
  }

  #title-extension {
    font-size: 1rem;
  }

  #about-text {
    height: 100%;
    margin-top: 50px;
  }

  #about-title-extension {
    margin-top: 60px;
  }

  #about-img {
    display: none;
  }
  
  #skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-bottom: 140px;
    /* margin-top: 90px; */
  }

  #skills-content {
    width: 100px;
  }

  #projects-content {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    height: 55%;
    margin-bottom: 160px;
  }

  #projects-title {
    margin-top: 80px;
  }

  #projects-content a {
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
    border: solid 1px white;
    text-align: center;
    border-radius: 20px;
    padding: 5px;
    margin: 5px;
    width: 50%;
    height: 50%;
    font-size: 0.8rem;
    background-color: var(--navback);
    cursor: pointer;
  }


  #next {
    width: 50%;
    height: 50%;
    font-size: 0.8rem;
    background-color: var(--secondarycolor);
    cursor: auto;
  }

  #contact-section {
    height: 500px;
  }

  #contact-title {
    margin-top: 30px;
  }
  
  textarea {
    height: 80px;
  }

  #contact-information {
    font-size: 0.7rem;
    padding: 0;
    margin: 0;
  }

  .c-span {
    font-size: 0.9rem;
  }

  #contact-information br {
      content: "";
      margin: 1em;
      font-size: 12%;
  }

  #contact-form {
    margin-bottom: 20px;
  }

 
  
  form {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #buttons {
    width: 100%;
    padding-left: 40px;
  }

  form label {
    padding-left: 40px;
    width: 100%;
  }

  .c-button {
    font-size: 0.6rem;
  }

  #clear-button {
    font-size: 0.4rem;
    margin-left: 25px;
  }


}

@media only screen and (max-width: 410px) {
  .nav-links {
    margin-left: 5px;
    padding-left: 5px;
    margin-right: 5px;
    padding-right: 20px;
  }

  .nav-links li a {
    font-size: 0.6rem;
  }
}

@media only screen and (max-width: 360px)
{
  #title {
    font-size: 1rem;
  }

  .nav-links {
    margin-left: 5px;
    padding-left: 5px;
    margin-right: 5px;
    padding-right: 20px;
  }

  .nav-links li a {
    font-size: 0.5rem;
  }
}
